localhost:500 {
	tls cert.pem tls.key
	@quic {
		path /wt
	}
	reverse_proxy @quic https://localhost:5001 {
		transport http {
			versions h3
		}
	}
}

localhost:8080 {
	reverse_proxy http://localhost:4200
}
