{
	default_sni localhost
	local_certs
	servers :8080 {
		trusted_proxies static private_ranges
		client_ip_headers X-Forwarded-For X-Real-IP
		strict_sni_host on
	}
}

localhost:8080 {
	reverse_proxy http://localhost:4200
	tls tls.crt tls.key
}
